<section class="event-section">
  <div class="container">
    <h2>Elevate Your Experience with Our Services</h2>
    <div class="event-grid">
      <div class="event-member">
        <img src="/images/1.png" alt="Staff 1" />
        <h4>Private Rides</h4>
        <p>Comfortable and Reliable day-to-day transport for individuals and families.
        </p>
      </div>
      <div class="event-member">
        <img src="/images/2.png" alt="Staff 2" />
        <h4>Corporate Transport</h4>
        <p>Professional and punctual transport services tailored for businesses ans executives.</p>
      </div>
      <div class="event-member">
        <img src="/images/3.png" alt="Staff 3" />
        <h4>Airport Transfers</h4>
        <p>Timely pickups and drop-offs ensuring stress free travel to and from the airport.</p>
      </div>
      <div class="event-member">
        <img src="/images/4.png" alt="Staff 2" />
        <h4>Out-of-Town Trips</h4>
        <p>Safe and convinient long-distance travel across counties with experienced drivers</p>
      </div>
    </div>
  </div>
</section>

