<section class="about-hero">
  <div class="overlay"></div>
 <app-navbar></app-navbar>

  <div class="content">
   <h1>About Us</h1>
      <p>
      The best Ride services you can trust.
      </p>
  </div>
</section>
<!--about one content-->
<app-home-about></app-home-about>
<!-- Team / Leadership Section -->
<section class="team-section1">
  <div class="team-container1">
    <div class="team-member1">
      <div class="team-image1">
        <img src="/images/8.png" alt="Eric Foster" />
      </div>
      <div class="team-info1">
        <h2 class="team-name1">Simon Wingah</h2>
        <h4 class="team-title1">Managing Director</h4>
        <!-- <h3 class="team-heading1">
          We help businesses and individuals navigate the complex world of finance.
        </h3> -->
        <p class="team-description1">
        Visionary leader committed to delivering excellence in private transport services. With strong focus on reliability,safety and customer satisfaction. Guiding the company with integrity and innovation.
        </p>
      </div>
    </div>
  </div>
</section>

<!--About two Content-->
<section class="vision-container">
  <div class="vision-content">
    <div class="text-side">
      <span class="sub-heading">VISION & MISSION</span>
      <h1 class="main-title">Black Seat's Visionary Pathway</h1>
      <p class="description">
        The company ensures every ride reflects our core values of professionalism, efficiency and trust.
      </p>
    </div>
    
    <div class="card-side">
      <div class="vision-card">
        <h2>Our Vision</h2>
        <p>
          To become the most trusted and preferred private ride service in Kenya.
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="stats-dark-bg" #statsSection>
    <div class="stats-grid">
      @for (stat of stats; track stat.label) {
        <div class="stat-box">
          <div class="stat-number">
            {{ stat.currentValue }}<span>{{ stat.suffix }}</span>
          </div>
          <div class="stat-label">{{ stat.label }}</div>
        </div>
      }
    </div>
  </div> -->
</section>
<!--mission-->
<app-mission></app-mission>
<!--Footer section-->
<app-footer></app-footer>


