<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- Logo + Description -->
      <div class="col">
        <div class="logo">
          <span class="logo-box"></span>
          <h2>BlackSeat<span></span></h2>
        </div>
        <p>
        Premium transportation service dedicated to provide safe, reliable and comfortable travel experience.
        </p>

        <div class="socials">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <!-- Company -->
      <div class="col">
        <h3>Blackseat Rides</h3>
        <ul>
          <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
          <li><a routerLink="/service" (click)="scrollToTop()">Services</a></li>
          <li><a routerLink="/about" (click)="scrollToTop()">About Us</a></li>
          <li><a routerLink="/contact" (click)="scrollToTop()">Contact Us</a></li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col">
        <h3>Services</h3>
        <ul>
          <li><a routerLink="/service" (click)="scrollToTop()">Private Rides</a></li>
          <li><a routerLink="/service" (click)="scrollToTop()">Airport Transfers</a></li>
          <li><a routerLink="/service" (click)="scrollToTop()">Corporate Transport</a></li>
          <li><a routerLink="/service" (click)="scrollToTop()">Out-of-Town Trips</a></li>
          
        </ul>
      </div>

      <!-- Work Hours -->
      <div class="col">
        <h3>Work Hours</h3>
        <br>
        <p>🕘 9 AM - 5 PM, Monday - Saturday</p>
        <br>
        <p>
          Our Support and Sales team is available 24/7 to answer your queries
        </p>
      </div>

    </div>

    <div class="bottom">
      <p>Copyright © 2026 BlackSeats | Developed by ATS hub</p>
      <p>0725452346</p>
      <div class="links">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>

