<section class="mission-section">
  <div class="mission-container">
    <h2>Our Mission</h2>

    <div class="mission-grid">
      
      <div class="mission-item">
        <span class="icon">↳</span>
        <div>
          <h3>Provide Safe Transportation</h3>
          <p>
          We are committed to ensuring every journey is secure by maintaining high safety standards.
          </p>
        </div>
      </div>

      <div class="mission-item">
        <span class="icon">↳</span>
        <div>
          <h3>Affordable Services</h3>
          <p>
          We offer competitive and transparent pricing to make reliable transport accessible.
          </p>
        </div>
      </div>

      <div class="mission-item">
        <span class="icon">↳</span>
        <div>
          <h3>Hign quality transport solutions</h3>
          <p>
          We deliver efficient,comfortable and dependale transport services that meets the needs of our customers.
          </p>
        </div>
      </div>

      <div class="mission-item">
        <span class="icon">↳</span>
        <div>
          <h3>Professionalsm and Customer Satisfaction</h3>
          <p>
          We uphold the highest level of professionalism while prioritizing our customers' needs.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

