<section class="hero">
  <div class="overlay"></div>
 <app-navbar></app-navbar>

  <div class="content">
    <h1>
      Memorable Ride<br />
      <span>Experience!!</span>
    </h1>
    <p>
     Your satisfaction our joy.
    </p>
  </div>
</section>
<!-- about section -->
<app-home-about></app-home-about>
<!--Featured Events-->
<app-featured></app-featured>
<!--booking-->
<app-home-book></app-home-book>
<!-- why us-->
 <app-why-us></app-why-us>
<!-- Footer Section -->
<app-footer></app-footer>
