<div class="booking-container">
  <h1>Book Your Ride in Seconds!</h1>
  <p class="subtitle">
    Convenient, reliable, and comfortable BlackSeats booking at your fingertips.
  </p>

  <form (ngSubmit) ="submit()">

    <div class="grid">
      <div class="form-group">
        <label for="name" >Name <span>*</span></label>
        <input [(ngModel)]="name" name="name"  type="text" placeholder="Your Name"/>
      </div>

      <div class="form-group">
        <label for="phone" >Phone Number <span>*</span></label>
        <input [(ngModel)]="phone" name="phone" type="text" placeholder="Your Phone Number"/>
      </div>
<div class="form-group">
  <label for="ride_type">Ride Type <span>*</span></label>
  <select class="rtype" [(ngModel)]="ride_type" name="ride_type">
    <option value="private_ride">private_ride</option>
    <option value="airport_transfer">airport_transfer</option>
    <option value="corporate_transport">corporate_transport</option>
    <option value="out_of_town_trip">out_of_town_trip</option>
  </select>
</div>

      <div class="form-group">
        <label for="date">Pick Up Date <span>*</span></label>
        <input type="date" name="pickup_date" [(ngModel)]="pickup_date"/>
      </div>

      <div class="form-group">
        <label for="pickup_address" >Pick Up Address <span>*</span></label>
        <input type="text" name="pickup_address" placeholder="Start Destination" [(ngModel)]="pickup_address" />
      </div>

      <div class="form-group">
        <label for="dropoff_address">Drop Off Address <span>*</span></label>
        <input type="text" name="dropoff_address" placeholder="End Destination" [(ngModel)]="dropoff_address" />
      </div>
    </div>
    @if(error){
      <div>
        <span class="tetx-danger">{{ error }}</span>
      </div> 
    }

    <button type="submit" class="btn-submit">
      Book Now!
    </button>
  </form>
</div>
