<section class="why-section">
  <div class="container">
    
    <!-- Header -->
    <div class="header">
      <div class="icon-box">
        <i class="fas fa-briefcase"></i>
      </div>

      <div class="title-box">
        <h2>Why Choose Us?</h2>
      </div>

      <p class="description">
        We are dedicated to provide safe, reliable and comfortable travel experience.
      </p>
    </div>

    <hr />

    <!-- Features -->
    <div class="features">
      
      <div class="feature">
        <i class="fas fa-taxi"></i>
        <h4>Reliable Service</h4>
        <p>We provide dependable and timely transport you can trust.</p>
      </div>

      <div class="feature">
        <i class="fas fa-link"></i>
        <h4>Safety First</h4>
        <p>Your safety is our top priority.Our vehicles are regularly inspected.</p>
      </div>

      <div class="feature">
        <i class="fa-solid fa-users"></i>
        <h4>Customer Satisfaction</h4>
        <p>We are committed to delivering a smooth and enjoyable experience.</p>
      </div>

      <div class="feature">
        <i class="fa-solid fa-briefcase"></i>
        <h4>Professional Drivers</h4>
        <p>Our drivers are highly trained,experienced and courteous</p>
      </div>

    </div>

  </div>
</section>

